th, td {
    border: 1px solid black;
  }


  th, td {
    border: 1px solid black;
  }

 

  .DBTable {
   background-color: rgb(205, 222, 245);
   margin-left: auto;
   margin-right: auto;
  }

  .DBTableLight {
    background-color: rgb(237, 241, 245);
    margin-left: auto;
    margin-right: auto;
   }